@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-size: 16px;
}

@font-face {
    font-family: mine;
    src: url();
}
body{
    margin: 0;
    font-family: mine;
    background-color: #212121;
}
h1{
    font-size: 3.2rem;
    line-height: 1.1;
    color: #646cff;
}
button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover{
    border-color: #646cff;
}